[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
python-dateutil = "*"

[packages]
bcrypt = "*"
quart = "*"
cerberus = "*"

[requires]
python_version = "3.7"
